<?xml version="1.0" encoding="UTF-8"?>
<!--
    Connect IQ app settings: exposes darkTheme and largeTextMode (from properties.xml)
    as on/off toggles in Garmin Connect Mobile / Garmin Express ("Low-light dark theme",
    "Large text mode"), and climbAlertDistinctTone as the opt-in alternative
    climb-start alert (issue #83).
-->
<settings>
    <setting propertyKey="@Properties.darkTheme" title="@Strings.SettingsDarkThemeTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.largeTextMode" title="@Strings.SettingsLargeTextModeTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.climbAlertDistinctTone" title="@Strings.SettingsClimbAlertDistinctToneTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.colorMode" title="@Strings.SettingsColorModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorModeGradient</listEntry>
            <listEntry value="1">@Strings.ColorModeFtpZone</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.hrAlarmBpm" title="@Strings.SettingsHrAlarmTitle" prompt="@Strings.SettingsHrAlarmPrompt">
        <settingConfig type="numeric" min="0" max="230"/>
    </setting>
    <setting propertyKey="@Properties.hrIrregularAlarm" title="@Strings.SettingsHrIrregularTitle">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.heatIndexThreshold" title="@Strings.SettingsHeatIndexTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.HeatIndexOff</listEntry>
            <listEntry value="27">@Strings.HeatIndex27</listEntry>
            <listEntry value="32">@Strings.HeatIndex32</listEntry>
            <listEntry value="39">@Strings.HeatIndex39</listEntry>
        </settingConfig>
    </setting>
</settings>
